#include "src/app/resource.h"

RES_FONT RCDATA "assets\\RobotoCondensed.ttf"
RES_WARFRAME_HERO RCDATA "assets\\warframe-hero.jpg"
RES_WARFRAME_ICON RCDATA "assets\warframe.png"
RES_PUBLISHER_LOGO RCDATA "assets\publisher.png"
RES_SOULFRAME_HERO RCDATA "assets\\soulframe-hero.jpg"
RES_SOULFRAME_ICON RCDATA "assets\soulframe.png"
RES_SOULFRAME_LEAF RCDATA "assets\soulframe-leaf.png"
RES_SOULFRAME_ENDCAP RCDATA "assets\soulframe-endcap.png"

#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,2,0,0
PRODUCTVERSION 1,2,0,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0x0L
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "Custom launcher for Digital Extremes games"
            VALUE "FileVersion", "1.2.0"
            VALUE "InternalName", "Launcher"
            VALUE "OriginalFilename", "Launcher.exe"
            VALUE "ProductName", "Evolution Launcher"
            VALUE "ProductVersion", "1.2.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
